* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Vazirmatn', sans-serif;
    direction: rtl;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 108px;
    background-color: #fff;
}

.logo {
    /* gap: 8px; */
    margin-top: 30px;
  }


h3 {
    font-weight: 900;
    font-size: 38px;
    color: #FA541C;
}

.logo p {
    font-weight: 400;
    font-size: 10px;
    color: #868686;
    line-height: 100%;
    letter-spacing: 0%;
}

.mobile-menu {
    display: none;
}

.search-box {
    width: 100%;
    height: 48px;
    border-radius: 16px;
    border: 1px solid rgba(237, 237, 237, 1);
    background: rgba(255, 255, 255, 1);
    padding: 0 48px 0 16px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.search-box:focus {
    border-color: #FA541C;
}

.search-wrapper {
    position: relative;
    width: 638px;
}

#search {
    position: absolute;
    right: 12px;
    top: 50%;
    color: #ff4500;
    pointer-events: none;
    transform: translateY(-50%);
    font-size: 24px;
}

.user-actions {
    display: flex;
    gap: 16px;
    align-items: center;
}

.login-link {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.08);
    color: #404040;
    font-weight: 700;
    text-decoration: none;
    
}

.cart-link {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 12px;
    background: rgba(250, 84, 28, 1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;

}

.cart-count {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 20px;
    height: 20px;
    opacity: 1;
    background: rgba(3, 35, 64, 1);
    border-radius: 50%;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-symbols-outlined {
    color: rgb(248, 250, 250);
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24
}

#person {
    color: black;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.main-navigation {
    text-decoration: none;
    padding: 16px 40px;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(249, 249, 249, 1);
    border-radius: 16px;
    height: 64px;
    margin:0 108px;
}

.menu {
    display: flex;
    list-style: none;
    font-size: 16px;
    font-weight: 700;
    gap: 40px;
}

.highlight {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.menu a {
    text-decoration: none;
    color: #262626;
}

.menu span {
    color: rgba(250, 84, 28, 1);

}

.info-card{
    display: flex;
    gap: 20px;
    padding: 13px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 415px;
    width: 502px;
}

.card-image{
    width: 503px;
    height: 323px;
}

.card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.line-image{
    display: flex;
    height: 68px;
    gap: 20.39px;
}

.image-container{
    width: 68px;
    height: 68px;
    border-radius: 6.8px;
    border-width: 0.85px;
    border: 0.85px solid rgba(203, 203, 203, 1);
    font-size: 8.49px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product{
    display: flex;
    justify-content: space-between;
    width: 503px;
}

.name-product{
    font-weight: 400;
    font-size: 23.78px;
    gap: 6.8px;
}

.name-product p {
    font-weight: 400;
    font-size: 11.89px;
    color: rgba(134, 134, 134, 1);
}

.rank{
    background: rgba(255, 247, 244, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 28px;
    font-size: 14px;
    gap: 2px;
}

.rank span{
    color: rgba(255, 153, 31, 1);
    font-size: 16px;
}

.price{
    font-weight: 400;
    font-size: 27.18px;
    color: rgba(3, 35, 64, 1);
    margin-top: 16px;
}

.off{
    display: flex;
    gap: 6.8px;
    margin-top: 16px;
}

.off input{
    border: none;

}

.off button{
    width: 53px;
    height: 30.5px;
    border-radius: 6.8px;
    padding: 6.8px 13.5px;
    background: rgba(250, 84, 28, 1);
    color: #fff;
    border: none;
}

.size{
    margin-top: 16px;
}

summary{
    font-weight: 400;
    font-size: 20.39px;
    margin-bottom: 7px;
}

summary::after{
    content: "";
    width: 8px;
    height: 8px;
    border-right: 2px solid rgba(173, 173, 173, 1);
    border-bottom: 2px solid rgba(173, 173, 173, 1);
    transform: translateY(-50%) rotate(45deg);
    position: absolute;
    font-size: 14px;
    transition: transform 0.25s ease;
}

 summary[open]::after{
    transform: translateY(-50%) rotate(225deg);
}

.card-size{
    width: 214px;
    height: 47.5px;
    top: 6.8px;
    gap: 6.8px;
}

.first , .secound{
    display: flex;
    gap: 6.8px;
    margin-top: 10px;
}

.size-image{
    width: 66px;
    height: 20px;
    border-radius: 3.4px;
    background: rgba(237, 237, 237, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.color-product{
    margin-top: 16px;
    font-weight: 400;
    font-size: 20.39px;
}

.color-card{
    display: flex;
    gap: 14px;
    margin-top: 15px;
}

.color{
    display: flex;
    gap:3px;
    font-weight: 400;
    font-size: 10.19px;
    background: rgba(237, 237, 237, 1);
    width: 51px;
    height: 27px;
    gap: 3.4px;
    border-radius: 3.4px;
    padding: 3.4px;
    

}

.color-circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.circle-1{background: rgba(196, 169, 124, 1);}
.circle-2{background: rgba(255, 179, 0, 1);}
.circle-3{background: rgba(84, 26, 71, 1);}

.buy{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    width: 502px;
    gap: 20.39px;
}

.count{
    border: 2px solid rgba(250, 84, 28, 1);
    color:rgba(250, 84, 28, 1) ;
    width: 86px;
    height: 47px;
    border-radius: 6.8px;
    padding: 6.8px 27px;
    gap: 6.8px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 20px;
}

.count span{
    cursor: pointer;

}


.buy button{
    width: 290px;
    height: 47.5px;
    border-radius: 6.8px ;
    padding: 6.8px 27px;
    gap: 6.8px;
    background: rgba(250, 84, 28, 1);
    border: none;
    font-weight: 400;
    font-size: 13.59px;
    color: #fff;
    cursor: pointer;
}